header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    padding: 25vh 7vw 25vh 7vw !important;

    background-image: url('/html/img/hero.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    background-size: cover;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}

header span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 500;
    direction: ltr;
}

header .buttons {
   margin: 7vh 0 0 0;
}
