nav {
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    padding: 0 20vw;
}

nav ul {
    display: flex;
    gap: 1vw;
    flex-direction: row;

    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

nav ul:first-child {
    padding: 2vh 0 !important;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: .9rem;
    color: #2b2b2b;
    text-transform: uppercase;
    transition: all 300ms;

    padding: .5vh .5vw;
}

nav ul:first-child li a {
    font-size: 1.7rem;
    color: #2b2b2b;
    text-transform: none;
    transition: none;
}

nav ul li a:hover {
    color: #fcaf3b;
    border-bottom: solid 2px #fcaf3b;
}

nav ul:first-child li a:hover {
    color: #2b2b2b;
    border-bottom: none;
}