* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

img.small {
    max-width: 100px;
    max-height: 100px;
}

main header,
main section,
main footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 12vw;
    flex-direction: column;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #1a1a1a;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 1.8vh 1.8vw;
}

@media screen and (min-width: 1500px){

    main header,
    main section,
    maain footer {
        padding: 0 2vw;
    }

}

.button.primary {
    background-color: #fcaf3b;
    border: solid 2px #fcaf3b;
}

.button.secondary {
    background-color: transparent;
    border: solid 2px #2b2b2b;
}

.button.secondary:hover {

    background-color: #2b2b2b;
    color: #e9e5e5;

}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(3%);

    min-width: 100%;

    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.grid .element {

    display: inline-block;

    max-width: 28%;
    min-width: 320px;

}

.datos-pinguinos {

    padding: 12vh 2vw 18vh 2vw;
    /*margin: 15vh auto 20vh auto;*/
}

.datos-pinguinos .grid .element h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;

    margin: 2vh 0 4vh 0;
    color: #2b2b2b;
}

.datos-pinguinos .grid .element span {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #2b2b2b;

}

.pinguinos-geniales {

    background-color: #ededed;
    padding: 12vh 7vw 12vh 7vw;
    gap: 3vh;

}

.pinguinos-geniales h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 5vh;

}

.pinguinos-geniales p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 2rem;
}


.pinguinos-geniales img {
    margin-top: 5vh;
}

.adopcion_pinguino {

    padding: 12vh 7vw 12vh 7vw;
    gap: 3vh;

}

.adopcion_pinguino h3 {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 5vh;

}

.adopcion_pinguino p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 2rem;
}
